Repository FRONT-END-BOOTCAMP-PLUS-5/Next_POLAR, pull requests merged in 2025-07, with the labels that each got.

#4 Remove: Remove unnecessary codes and files
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Labels: ⚙ Settings, 🖥️ Frontend

#5 feat : BE 클린 아키텍처 디렉토리 구조 설계
  README.md
  app/(backend)/auths/applications/usecases/CommonAuthUseCase.ts
  app/(backend)/auths/domains/entities/CommonAuthEntity.ts
  app/(backend)/chats/applications/usecases/ChatUseCases.ts
  app/(backend)/chats/domains/entities/chat.ts
  app/(backend)/chats/infrastructures/ChatInfrastructure.ts
  app/(backend)/helps/applications/usecases/CommonHelpUseCases.ts
  app/(backend)/helps/domains/entities/CommonHelp.ts
  app/(backend)/helps/infrastructures/CommonHelpInfrastructure.ts
  app/(backend)/juniors/auths/applications/usecases/JuniorAuthUseCases.ts
  app/(backend)/juniors/auths/domains/entities/JuniorAuth.ts
  app/(backend)/juniors/helps/applications/usecases/JuniorHelpUseCases.ts
  app/(backend)/juniors/helps/domains/entities/JuniorHelp.ts
  app/(backend)/juniors/helps/infrastructures/JuniorHelpInfrastructure.ts
  app/(backend)/juniors/ranks/applications/usecases/JuniorRankUseCases.ts
  app/(backend)/juniors/ranks/domains/entities/JuniorRank.ts
  app/(backend)/juniors/ranks/infrastructures/JuniorRankInfrastructure.ts
  app/(backend)/reviews/applications/usecases/ReviewUseCases.ts
  app/(backend)/reviews/domains/entities/review.ts
  app/(backend)/reviews/infrastructures/ReviewInfrastructure.ts
  app/(backend)/seniors/auths/applications/usecases/SeniorAuthUseCases.ts
  app/(backend)/seniors/auths/domains/entities/SeniorAuth.ts
  app/(backend)/seniors/auths/infrastructures/SeniorAuthInfrastructure.ts
  app/(backend)/seniors/helps/applications/usecases/SeniorHelpUseCases.ts
  app/(backend)/seniors/helps/domains/entities/SeniorHelp.ts
  app/(backend)/seniors/helps/infrastructures/SeniorHelpInfrastructure.ts
  lib/supabase.ts
  package-lock.json
  package.json
Labels: ⚙ Settings, 📞 API, 🔙 Backend

#12 feat(GetAllUsersUseCase,UpdateUserInfoUseCase) : 유저 정보 조회, 유저 정보 수정
  (backend)/auths/applications/dtos/UserDtos.ts
  (backend)/auths/applications/usecases/CommonAuthUseCase.ts
  (backend)/auths/domains/entities/CommonAuthEntity.ts
  (backend)/auths/domains/repositories/AuthRepository.ts
  (backend)/auths/infrastructures/mappers/UserMapper.ts
  (backend)/auths/infrastructures/repositories/SbAuthRepository.ts
  (backend)/chats/applications/usecases/ChatUseCases.ts
  (backend)/chats/domains/entities/chat.ts
  (backend)/chats/infrastructures/ChatInfrastructure.ts
  (backend)/helps/applications/usecases/CommonHelpUseCases.ts
  (backend)/helps/domains/entities/CommonHelp.ts
  (backend)/helps/infrastructures/CommonHelpInfrastructure.ts
  (backend)/juniors/auths/applications/usecases/JuniorAuthUseCases.ts
  (backend)/juniors/auths/domains/entities/JuniorAuth.ts
  (backend)/juniors/helps/applications/usecases/JuniorHelpUseCases.ts
  (backend)/juniors/helps/domains/entities/JuniorHelp.ts
  (backend)/juniors/helps/infrastructures/JuniorHelpInfrastructure.ts
  (backend)/juniors/ranks/applications/usecases/JuniorRankUseCases.ts
  (backend)/juniors/ranks/domains/entities/JuniorRank.ts
  (backend)/juniors/ranks/infrastructures/JuniorRankInfrastructure.ts
  (backend)/reviews/applications/usecases/ReviewUseCases.ts
  (backend)/reviews/domains/entities/review.ts
  (backend)/reviews/infrastructures/ReviewInfrastructure.ts
  (backend)/seniors/auths/applications/usecases/SeniorAuthUseCases.ts
  (backend)/seniors/auths/domains/entities/SeniorAuth.ts
  (backend)/seniors/auths/infrastructures/SeniorAuthInfrastructure.ts
  (backend)/seniors/helps/applications/usecases/SeniorHelpUseCases.ts
  (backend)/seniors/helps/domains/entities/SeniorHelp.ts
  (backend)/seniors/helps/infrastructures/SeniorHelpInfrastructure.ts
  app/(backend)/auths/applications/usecases/CommonAuthUseCase.ts
  app/(backend)/juniors/auths/domains/entities/JuniorAuth.ts
  app/api/auths/route.ts
  app/test/page.tsx
Labels: 🔙 Backend

#15 Feat: Implement Sign up logic temporary
  app/(backend)/auths/applications/dtos/UserDto.ts
  app/(backend)/auths/applications/usecases/SignUpUsecase.ts
  app/(backend)/auths/domains/entities/users/User.ts
  app/(backend)/auths/domains/repositories/AuthRepositoryInterface.ts
  app/(backend)/auths/infrastructures/mappers/readme.md
  app/(backend)/auths/infrastructures/repositories/SbAuthRepository.ts
  app/api/auths/route.ts
Labels: 🔩 Feature, 🔙 Backend

#26 [Refactor] 디렉토리 구조 수정
  app/(backend)/auths/applications/dtos/UserDto.ts
  app/(backend)/auths/applications/usecases/SignUpUsecase.ts
  app/(backend)/auths/domains/entities/users/User.ts
  app/(backend)/auths/domains/repositories/AuthRepositoryInterface.ts
  app/(backend)/auths/infrastructures/mappers/readme.md
  app/(backend)/auths/infrastructures/repositories/SbAuthRepository.ts
  app/api/user/login/route.ts
  app/api/user/logout/route.ts
  app/api/user/refresh/route.ts
  app/api/users/route.ts
  app/test/page.tsx
  backend/chats/applications/usecases/ChatUseCases.ts
  backend/chats/domains/entities/chat.ts
  backend/chats/infrastructures/ChatInfrastructure.ts
  backend/helps/applications/usecases/CommonHelpUseCases.ts
  backend/helps/domains/entities/CommonHelp.ts
  backend/helps/infrastructures/CommonHelpInfrastructure.ts
  backend/juniors/auths/applications/usecases/JuniorAuthUseCases.ts
  backend/juniors/auths/domains/entities/JuniorAuth.ts
  backend/juniors/helps/applications/usecases/JuniorHelpUseCases.ts
  backend/juniors/helps/domains/entities/JuniorHelp.ts
  backend/juniors/helps/infrastructures/JuniorHelpInfrastructure.ts
  backend/juniors/ranks/applications/usecases/JuniorRankUseCases.ts
  backend/juniors/ranks/domains/entities/JuniorRank.ts
  backend/juniors/ranks/infrastructures/JuniorRankInfrastructure.ts
  backend/reviews/applications/usecases/ReviewUseCases.ts
  backend/reviews/domains/entities/review.ts
  backend/reviews/infrastructures/ReviewInfrastructure.ts
  backend/seniors/auths/applications/usecases/SeniorAuthUseCases.ts
  backend/seniors/auths/domains/entities/SeniorAuth.ts
  backend/seniors/auths/infrastructures/SeniorAuthInfrastructure.ts
  backend/seniors/helps/applications/usecases/SeniorHelpUseCases.ts
  backend/seniors/helps/domains/entities/SeniorHelp.ts
  backend/seniors/helps/infrastructures/SeniorHelpInfrastructure.ts
  backend/uesrs/applications/dtos/UserDtos.ts
  backend/uesrs/applications/usecases/CommonAuthUseCase.ts
  backend/uesrs/auths/login/LoginModel.ts
  backend/uesrs/auths/login/applications/dtos/LoginRequest.ts
  backend/uesrs/auths/login/applications/dtos/LoginResponse.ts
  backend/uesrs/auths/login/applications/usecases/CommonAuthUseCase.ts
  backend/uesrs/auths/login/applications/usecases/LoginUseCase.ts
  backend/uesrs/auths/login/domains/entities/LoginUserEntity.ts
  backend/uesrs/auths/login/domains/repository/LoginRepositoryInterface.ts
  backend/uesrs/auths/login/infrastructures/LoginRepository.ts
  backend/uesrs/auths/login/infrastructures/mappers/LoginMapper.ts
  backend/uesrs/domains/entities/CommonAuthEntity.ts
  backend/uesrs/domains/repositories/AuthRepository.ts
  backend/uesrs/infrastructures/mappers/UserMapper.ts
  backend/uesrs/infrastructures/repositories/SbAuthRepository.ts
  lib/auth.ts
Labels: 🛠️ Refactor, 🔙 Backend

#28 [Refactor] 디렉토리 구조 수정
  app/api/users/route.ts
  app/test/page.tsx
  backend/uesrs/applications/dtos/UserDtos.ts
  backend/uesrs/applications/usecases/CommonAuthUseCase.ts
  backend/uesrs/applications/usecases/CommonUserUseCase.ts
  backend/uesrs/domains/entities/CommonUserEntity.ts
  backend/uesrs/domains/repositories/AuthRepository.ts
  backend/uesrs/domains/repositories/UserRepository.ts
  backend/uesrs/infrastructures/mappers/UserMapper.ts
  backend/uesrs/infrastructures/repositories/SbAuthRepository.ts
  backend/uesrs/infrastructures/repositories/SbUserRepository.ts
Labels: 🛠️ Refactor, 🔙 Backend

#30 [Docs] PR 템플릿 생성
  .github/pull_request_template.md
  app/api/helps/[id]/route.ts
  app/api/helps/route.ts
  backend/auths/applications/dtos/UserDtos.ts
  backend/auths/applications/usecases/UserUseCase.ts
  backend/auths/domains/entities/CommonAuthEntity.ts
  backend/auths/domains/repositories/IUserRepository.ts
  backend/auths/infrastructures/mappers/UserMapper.ts
  backend/auths/infrastructures/repositories/SbAuthRepository.ts
  backend/helps/applications/dtos/HelpDTO.ts
  backend/helps/applications/usecases/CommonHelpUseCases.ts
  backend/helps/domains/entities/CommonHelp.ts
  backend/helps/domains/entities/CommonHelpEntity.ts
  backend/helps/domains/repositories/ICommonHelpRepository.ts
  backend/helps/infrastructures/CommonHelpInfrastructure.ts
  backend/helps/infrastructures/repositories/SbCommonHelpRepository.ts
Labels: 📃 Docs

#34 [Feat] : 점수 시스템 구현 - 점수 조회 관련 usecase 설계 및 구현
  .github/pull_request_template.md
  app/api/scores/category-with-season/route.ts
  app/api/scores/category/route.ts
  app/api/scores/season/route.ts
  app/api/scores/user-with-category/route.ts
  app/api/scores/user-with-season/route.ts
  app/api/scores/user/route.ts
  app/api/user/signup/route.ts
  app/api/users/route.ts
  backend/auths/login/LoginModel.ts
  backend/auths/login/applications/dtos/LoginRequest.ts
  backend/auths/login/applications/dtos/LoginResponse.ts
  backend/auths/login/applications/usecases/CommonAuthUseCase.ts
  backend/auths/login/applications/usecases/LoginUseCase.ts
  backend/auths/login/domains/entities/LoginUserEntity.ts
  backend/auths/login/domains/repository/LoginRepositoryInterface.ts
  backend/auths/login/infrastructures/LoginRepository.ts
  backend/auths/login/infrastructures/mappers/LoginMapper.ts
  backend/auths/signup/applications/dtos/SignUpDto.ts
  backend/auths/signup/applications/usecases/SignUpUseCase.ts
  backend/auths/signup/domains/entities/SignUp.ts
  backend/auths/signup/domains/repositories/SignUpRepositoryInterface.ts
  backend/auths/signup/infrastructures/repositories/SbSignUpRepository.ts
  backend/juniors/ranks/applications/usecases/JuniorRankUseCases.ts
  backend/juniors/ranks/infrastructures/JuniorRankInfrastructure.ts
  backend/juniors/scores/ScoreModel.ts
  backend/juniors/scores/applications/usecases/ScoreUseCases.ts
  backend/juniors/scores/domains/entities/Category.ts
  backend/juniors/scores/domains/entities/JuniorRank.ts
  backend/juniors/scores/domains/entities/Score.ts
  backend/juniors/scores/domains/repositories/ScoreRepositoryInterface.ts
  backend/juniors/scores/infrastructures/ScoreRepository.ts
  backend/juniors/scores/infrastructures/mappers/ScoreMapper.ts
  backend/uesrs/applications/usecases/CommonUserUseCase.ts
  backend/uesrs/domains/repositories/UserRepository.ts
  backend/uesrs/infrastructures/repositories/SbUserRepository.ts
  lib/auth.ts
Labels: 🔩 Feature, 🛠️ Refactor, 🔙 Backend

#32 [Feat] 쿠키로 받은 accessToken을 id로 바꾸는 공통 함수 구현, 프로필 이미지 업로드 구현
  app/api/images/route.ts
  app/api/users/route.ts
  app/test/login/page.tsx
  app/test/page.tsx
  app/test/profile/page.tsx
  backend/images/applications/usecases/ImageUseCase.ts
  backend/images/applications/usecases/UpdateProfileImageUseCase.ts
  backend/images/domains/repositories/ImageRepository.ts
  backend/images/infrastructures/repositories/SbImageRepository.ts
  backend/uesrs/domains/entities/CommonUserEntity.ts
  backend/uesrs/infrastructures/mappers/UserMapper.ts
  backend/uesrs/infrastructures/repositories/SbUserRepository.ts
  lib/jwt.ts
Labels: 🧪 Test, 🔩 Feature, 🔙 Backend

#37 [Feat] 헬프 시스템 구현 (1) - 공통 사항 구현
  app/api/helps/[id]/route.ts
  app/api/helps/route.ts
  app/api/user/withdrawal/route.ts
  backend/auths/applications/dtos/UserDtos.ts
  backend/auths/applications/usecases/UserUseCase.ts
  backend/auths/domains/entities/CommonAuthEntity.ts
  backend/auths/domains/repositories/IUserRepository.ts
  backend/auths/infrastructures/mappers/UserMapper.ts
  backend/auths/infrastructures/repositories/SbAuthRepository.ts
  backend/helps/applications/dtos/HelpDTO.ts
  backend/helps/applications/usecases/CommonHelpUseCases.ts
  backend/helps/domains/entities/CommonHelp.ts
  backend/helps/domains/entities/CommonHelpEntity.ts
  backend/helps/domains/repositories/ICommonHelpRepository.ts
  backend/helps/infrastructures/CommonHelpInfrastructure.ts
  backend/helps/infrastructures/repositories/SbCommonHelpRepository.ts
  backend/uesrs/auths/withdrawal/applications/usecases/UserWithdrawalUseCase.ts
  backend/uesrs/infrastructures/repositories/SbUserRepository.ts
  backend/uesrs/withdrawal/applications/usecases/UserWithdrawalUseCase.ts
Labels: 🔩 Feature, 🔙 Backend

#45 [Feat] 헬프 시스템 구현 (2) - 시니어 회원 헬프 시스템
  app/api/seniors/help/[helpId]/route.ts
  app/api/seniors/help/route.ts
  backend/seniors/helps/SeniorHelpModel.ts
  backend/seniors/helps/applications/dtos/SeniorRequest.ts
  backend/seniors/helps/applications/dtos/SeniorResponse.ts
  backend/seniors/helps/applications/usecases/SeniorHelpUseCases.ts
  backend/seniors/helps/domains/entities/SeniorHelp.ts
  backend/seniors/helps/domains/repositories/SeniorHelpRepositoryInteface.ts
  backend/seniors/helps/infrastructures/SeniorHelpInfrastructure.ts
  backend/seniors/helps/infrastructures/mappers/SeniorHelpMapper.ts
Labels: 🔩 Feature, 🔙 Backend

#41 [Feat] 리뷰 시스템 추가, 채팅 메시지 시스템 추가, 채팅 메시지 읽음 기능 추가
  app/api/chats/messages/route.ts
  app/api/reviews/[id]/route.ts
  app/api/reviews/route.ts
  backend/chats/messages/applications/dtos/ContactMessageDtos.ts
  backend/chats/messages/applications/usecases/ContactMessageUseCases.ts
  backend/chats/messages/domains/entities/contactMessage.ts
  backend/chats/messages/domains/repositories/ContactMessageRepository.ts
  backend/chats/messages/infrastructures/mappers/ContactMessageMapper.ts
  backend/chats/messages/infrastructures/repositories/SbContactMessageRepository.ts
  backend/chats/read_statuses/applications/usecases/ContactReadStatusUseCases.ts
  backend/chats/read_statuses/domains/entities/contactReadStatus.ts
  backend/chats/read_statuses/domains/repositories/ContactReadStatusRepository.ts
  backend/chats/read_statuses/infrastructures/SbContactReadStatusRepository.ts
  backend/reviews/applications/dtos/ReviewDtos.ts
  backend/reviews/applications/usecases/ReviewUseCases.ts
  backend/reviews/domains/entities/review.ts
  backend/reviews/domains/repositories/ReviewRepository.ts
  backend/reviews/infrastructures/ReviewInfrastructure.ts
  backend/reviews/infrastructures/mappers/ReviewMapper.ts
  backend/reviews/infrastructures/repositories/SbReviewRepository.ts
Labels: 🔩 Feature, 🔙 Backend

#52 [Docs] API 명세서 Postman Collection JSON 파일 추가.
  app/api/Next_POLAR_All_APIs.postman_collection.json
Labels: 📃 Docs

#64 [Fix] Build 오류 확인 완료
  app/api/chats/rooms/[helpId]/route.ts
  app/api/images/route.ts
  app/api/reviews/[id]/route.ts
  app/api/reviews/route.ts
  app/api/scores/user-with-category/route.ts
  app/api/seniors/help/[helpId]/route.ts
  app/api/user/logout/route.ts
  app/api/user/refresh/route.ts
  app/api/user/withdrawal/route.ts
  app/api/users/route.ts
  app/test/chat/page.tsx
  app/test/profile/page.tsx
  backend/reviews/applications/dtos/ReviewDtos.ts
  lib/auth.ts
  lib/jwt.ts
Labels: 🔨 Fix, 🔙 Backend

#65 [Fix] 시즌 13123번째 빌드 오류 수정
  app/api/chats/messages/read-status/route.ts
  app/api/chats/rooms/[helpId]/route.ts
  app/api/images/route.ts
  app/api/user/logout/route.ts
  app/api/user/withdrawal/route.ts
  app/api/users/route.ts
  backend/auths/login/infrastructures/repositories/LoginRepository.ts
  backend/helps/domains/repositories/IHelpStatusRepository.ts
  backend/users/withdrawal/applications/dtos/WithdrawalRequestDto.ts
Labels: 🔨 Fix, 🔙 Backend

#71 [Feat] 사용자 식별을 위한 uuid 도입
  app/api/Next_POLAR_All_APIs.postman_collection.json
  app/api/user/signup/route.ts
  backend/auths/login/LoginModel.ts
  backend/auths/login/domains/entities/LoginEntity.ts
  backend/auths/login/infrastructures/LoginRepository.ts
  backend/auths/login/infrastructures/repositories/LoginRepository.ts
  backend/users/signup/applications/dtos/SignUpDto.ts
  backend/users/signup/applications/usecases/SignUpUseCase.ts
  backend/users/signup/domains/entities/SignUp.ts
  backend/users/user/applications/dtos/UserDtos.ts
  backend/users/user/applications/usecases/CommonUserUseCase.ts
  backend/users/user/domains/entities/CommonUserEntity.ts
  backend/users/withdrawal/applications/usecases/UserWithdrawalUseCase.ts
  backend/users/withdrawal/domains/entities/User.ts
  package-lock.json
  package.json
Labels: 🔩 Feature, 🛠️ Refactor, 🔙 Backend

#66 refactor : 채팅조회 수정
  app/api/chats/rooms/[chatRoomId]/helpList/route.ts
  app/api/chats/rooms/[chatRoomId]/messages/route.ts
  app/api/chats/rooms/[chatRoomId]/route.ts
  app/api/chats/rooms/route.ts
  backend/chats/chatrooms/applications/dtos/ChatRoomRequestDtos.ts
  backend/chats/chatrooms/applications/dtos/ChatRoomResponseDtos.ts
  backend/chats/chatrooms/applications/usecases/GetChatRoomDetailUseCase.ts
  backend/chats/chatrooms/applications/usecases/GetChatRoomsUseCase.ts
  backend/chats/chatrooms/domains/entities/ChatRoom.ts
  backend/chats/chatrooms/domains/repositories/IChatRoomRepository.ts
  backend/chats/chatrooms/infrastructures/mappers/ChatRoomMapper.ts
  backend/chats/chatrooms/infrastructures/repositories/SbChatRoomRepository.ts
Labels: 📞 API, 🔙 Backend

#81 [Feat] 회원가입 & 로그인 퍼블리싱 / 무작위 닉네임 생성 기능 구현
  app/(pola)/login/_styles/login.module.css
  app/(pola)/login/page.tsx
  app/(pola)/sign-up/_styles/signUp.module.css
  app/(pola)/sign-up/page.tsx
  app/(pola)/signup/page.tsx
  app/_components/commons/ui/Input.tsx
  app/api/Next_POLAR_All_APIs.postman_collection.json
  app/api/user/signup/route.ts
  app/globals.css
  backend/users/signup/applications/dtos/SignUpDto.ts
  backend/users/signup/applications/usecases/SignUpUseCase.ts
  backend/users/user/applications/usecases/CommonUserUseCase.ts
  backend/users/user/domains/entities/CommonUserEntity.ts
  package-lock.json
  package.json
  public/fonts/fonts.ts
  public/fonts/강원교육튼튼.otf
  public/images/dummies/dummy_user.png
  public/images/icons/icon_camera.svg
  public/images/logos/POLAR.png
Labels: 🔩 Feature, 🎨 Publish, 🖥️ Frontend

#90 [Feat] 리뷰 관련 페이지 구현
  app/(pola)/helps/[helpId]/create-review/CreateReview.module.css
  app/(pola)/helps/[helpId]/create-review/page.tsx
  app/(pola)/reviews/[reviewId]/page.tsx
  app/(pola)/user/profile/[nickname]/reviews/UserReviews.module.css
  app/(pola)/user/profile/[nickname]/reviews/received/page.tsx
  app/(pola)/user/profile/[nickname]/reviews/written/page.tsx
  public/default-profile.png
Labels: 🖥️ Frontend

#91 [Refactor] contact_messages 컬럼에 nickname 추가.
  backend/chats/messages/applications/dtos/ContactMessageDtos.ts
  backend/chats/messages/applications/usecases/ContactMessageUseCases.ts
  backend/chats/messages/domains/entities/contactMessage.ts
  backend/chats/messages/infrastructures/mappers/ContactMessageMapper.ts
  backend/chats/messages/infrastructures/repositories/SbContactMessageRepository.ts
  lib/getUserName.ts
Labels: 🛠️ Refactor, 🔙 Backend

#107 [Refactor] 이미지 업로드 컴포넌트 및 API 동작 모듈화
  .coderabbit.yaml
  app/(pola)/helps/create/components/ImageUploader.module.css
  app/(pola)/helps/create/components/ImageUploader.tsx
  app/(pola)/helps/create/components/Step3HelpDetails.tsx
  app/(pola)/helps/create/page.tsx
  app/api/images/help/route.ts
  app/api/images/profile/route.ts
  app/layout.tsx
  lib/api_front/help.api.ts
  lib/api_front/images.ts
  lib/contexts/ImageContext.tsx
  lib/hooks/useCreateHelp.ts
  lib/hooks/useImageUpload.ts
  lib/models/createHelpDto.ts
  lib/models/getImageUrl.ts
Labels: 🛠️ Refactor, 🖥️ Frontend

#124 [Feat] 점수 관련 백엔드 로직 변경
  app/(pola)/chats/[roomId]/ChatRoom.tsx
  app/(pola)/chats/list/ChatList.module.css
  app/(pola)/chats/list/page.tsx
  app/api/scores/user-with-category/route.ts
  app/api/scores/user-with-season/route.ts
  app/api/scores/user/route.ts
  app/test-components/page.tsx
  lib/api_front/chat.api.ts
  lib/auth.ts
  lib/hooks/chats/useChatInput.ts
  lib/hooks/chats/useChatMessages.ts
  lib/hooks/chats/useChatRooms.ts
  lib/hooks/chats/useRealtimeChat.ts
  lib/hooks/chats/useSendMessage.ts
  lib/models/chatDto.ts
Labels: 🔩 Feature, 🔙 Backend

#139 [Feat] 채팅 관련 로직 API 연결
  app/(pola)/chats/[roomId]/ChatRoom.tsx
  app/(pola)/chats/[roomId]/_components/HelpInfo.module.css
  app/(pola)/chats/[roomId]/_components/HelpInfo.tsx
  app/(pola)/chats/[roomId]/history/History.module.css
  app/(pola)/chats/[roomId]/history/page.tsx
  app/(pola)/chats/[roomId]/page.tsx
  app/api/chats/rooms/[chatRoomId]/helpList/route.ts
  app/api/chats/rooms/[chatRoomId]/route.ts
  backend/chats/chatrooms/applications/dtos/ChatRoomResponseDtos.ts
  backend/chats/chatrooms/applications/usecases/GetChatRoomDetailUseCase.ts
  backend/chats/chatrooms/applications/usecases/GetChatRoomWithHelpsUseCase.ts
  backend/chats/chatrooms/applications/usecases/GetChatRoomsUseCase.ts
  backend/chats/chatrooms/domains/entities/ChatRoom.ts
  backend/chats/chatrooms/domains/repositories/IChatRoomRepository.ts
  backend/chats/chatrooms/infrastructures/repositories/SbChatRoomRepository.ts
  backend/chats/messages/domains/entities/contactMessage.ts
  backend/chats/messages/infrastructures/mappers/ContactMessageMapper.ts
  backend/helps/applications/dtos/HelpDTO.ts
  backend/helps/applications/usecases/CommonHelpUseCases.ts
  backend/helps/domains/entities/CommonHelpEntity.ts
  backend/helps/domains/repositories/ICommonHelpRepository.ts
  backend/helps/infrastructures/mappers/CommonHelpDataMapper.ts
  backend/helps/infrastructures/repositories/SbCommonHelpRepository.ts
  lib/api_front/chat.api.ts
  lib/getUserData.ts
  lib/hooks/chats/useChatInput.ts
  lib/hooks/chats/useChatMessages.ts
  lib/hooks/chats/useChatRoomDetailWithHelps.ts
  lib/hooks/chats/useRealtimeChat.ts
  lib/hooks/chats/useSendMessage.ts
  lib/hooks/useCreateHelp.ts
  lib/models/chatDto.ts
  lib/models/common/UserPreview.ts
  lib/models/helpDetail.ts
  lib/utils/dateFormat.ts
Labels: 🔩 Feature, 📞 API, 🛠️ Refactor, 🖥️ Frontend, 🔙 Backend

#145 [Feat] 마이페이지 퍼블리싱(3) - 유저 리뷰 섹션 & 유저 리뷰 페이지 구현
  app/(pola)/user/profile/[nickname]/_components/sections/profile-menu/ProfileMenuSection.tsx
  app/(pola)/user/profile/[nickname]/_components/sections/profile-menu/profileMenu.module.css
  app/(pola)/user/profile/[nickname]/_components/sections/reviews-preview/UserRecivedReviewsPreview.module.css
  app/(pola)/user/profile/[nickname]/_components/sections/reviews-preview/UserRecivedReviewsPreview.tsx
  app/(pola)/user/profile/[nickname]/_components/user-helps/UserHelpsSection.tsx
  app/(pola)/user/profile/[nickname]/helps/page.tsx
  app/(pola)/user/profile/[nickname]/page.tsx
  app/(pola)/user/profile/[nickname]/reviews/UserReviews.module.css
  app/(pola)/user/profile/[nickname]/reviews/_components/ProfileSummary.tsx
  app/(pola)/user/profile/[nickname]/reviews/page.tsx
  app/(pola)/user/profile/[nickname]/reviews/received/page.tsx
  app/(pola)/user/profile/[nickname]/reviews/written/page.tsx
  app/_components/commons/common-sections/user-info/UserInfoSection.tsx
  app/_components/commons/list-card/help-list-card/HelpListCard.module.css
  app/_components/commons/list-card/help-list-card/HelpListCard.tsx
  app/_components/commons/list-card/review-list-card/ReviewCard.module.css
  app/_components/commons/list-card/review-list-card/ReviewCard.tsx
  app/api/users/[nickname]/route.ts
  backend/users/signup/applications/usecases/SignUpUseCase.ts
  backend/users/signup/infrastructures/repositories/SbSignUpRepository.ts
  backend/users/user/applications/dtos/UserDtos.ts
  backend/users/user/applications/usecases/CommonUserUseCase.ts
  backend/users/user/infrastructures/repositories/SbUserRepository.ts
  lib/api_front/review.api.ts
  lib/hooks/useReceivedReviews.ts
Labels: 🔩 Feature, 🎨 Publish, 🖥️ Frontend

#148 [Feat] 인증 번호를 통한 help 상태 변경 구현
  app/(pola)/helps/[helpId]/HelpDetail.module.css
  app/(pola)/helps/[helpId]/page.tsx
  app/(pola)/main/_components/junior/sections/content/Calendar.tsx
  app/(pola)/main/_components/junior/sections/list/HelpListSection.tsx
  app/_components/SeniorVerificationModal.tsx
  app/_components/VerificationModal.tsx
  app/_components/VerificationModalWrapper.tsx
  app/_components/commons/HelpVerificationModal.module.css
  app/_components/layout/AuthWrapper.tsx
  app/api/helps/[helpId]/participants/route.ts
  app/api/seniors/help/[helpId]/completion/route.ts
  app/layout.tsx
  app/test/verification/page.module.css
  app/test/verification/page.tsx
  backend/seniors/helps/infrastructures/repositories/SeniorHelpStatusRepositories.ts
  lib/api_front/help.api.ts
  lib/contexts/HelpVerificationContext.tsx
  lib/hooks/useNotificationPermission.ts
  lib/hooks/useSeniorHelpCompletion.ts
  lib/hooks/useVerificationRealtime.ts
  next.config.ts
Labels: 🔩 Feature, 📞 API, 🖥️ Frontend, 🔙 Backend

#151 [Feat] 마이페이지 기능 구현 (1) - 권한 분기 HOC 구현
  app/(pola)/user/profile/[nickname]/_components/README.md
  app/(pola)/user/profile/[nickname]/_components/UserProfileHOC.tsx
  app/(pola)/user/profile/[nickname]/_components/sections/reviews-preview/UserRecivedReviewsPreview.tsx
  app/(pola)/user/profile/[nickname]/_components/user-helps/junior/UserHelpsSection.tsx
  app/(pola)/user/profile/[nickname]/_components/user-helps/junior/userHelps.module.css
  app/(pola)/user/profile/[nickname]/_components/user-helps/senior/SeniorHelpsSection.tsx
  app/(pola)/user/profile/[nickname]/_components/user-helps/senior/seniorHelps.module.css
  app/(pola)/user/profile/[nickname]/page.tsx
  app/_components/commons/common-sections/user-info/UserInfoSection.tsx
  app/_components/commons/list-card/review-list-card/ReviewCard.tsx
  app/api/reviews/received/route.ts
  app/api/users/[nickname]/route.ts
  backend/reviews/applications/dtos/ReviewDtos.ts
  backend/users/user/applications/dtos/UserDtos.ts
  lib/models/review.model.ts
  lib/utils/apiUtils.ts
  next.config.ts
Labels: 🔩 Feature, 🎨 Publish, 🖥️ Frontend, 🔙 Backend

#152 [Feat] 회원 탈퇴 로직 변경
  backend/users/withdrawal/applications/usecases/UserWithdrawalUseCase.ts
  backend/users/withdrawal/domains/repository/UserRepository.ts
  backend/users/withdrawal/infrastructures/SbUserRepository.ts
Labels: 🛠️ Refactor, 🔙 Backend

#153 [Feat] BE help 리스트 백엔드 조회에 필터링&페이지네이션 적용
  app/(pola)/chats/[roomId]/_components/HelpInfo.tsx
  app/(pola)/chats/[roomId]/history/History.module.css
  app/(pola)/chats/[roomId]/history/page.tsx
  app/_components/CategoryGrid.tsx
  app/_components/commons/Pagination.module.css
  app/_components/commons/Pagination.tsx
  app/api/helps/route.ts
  backend/chats/chatrooms/applications/dtos/ChatRoomResponseDtos.ts
  backend/chats/chatrooms/applications/usecases/GetChatRoomWithHelpsUseCase.ts
  backend/helps/applications/dtos/HelpFilterDto.ts
  backend/helps/applications/dtos/HelpPaginationDto.ts
  backend/helps/applications/usecases/CommonHelpUseCases.ts
  backend/helps/domains/repositories/ICommonHelpRepository.ts
  backend/helps/infrastructures/repositories/SbCommonHelpRepository.ts
  lib/api_front/help.api.ts
  lib/constants/api.ts
  lib/hooks/help/useHelpList.ts
  lib/models/helpDetail.ts
  lib/utils/categoryUtils.ts
Labels: 🔩 Feature, 🔙 Backend

#156 Header, Footer, Onboarding 퍼블리싱 및 기능추가
  app/(pola)/login/_styles/login.module.css
  app/(pola)/user/hall-of-fame/Ranking.module.css
  app/Onboarding.module.css
  app/_components/Footer.module.css
  app/_components/Footer.tsx
  app/_components/Header.module.css
  app/_components/Header.tsx
  app/_components/LayoutWrapper.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  lib/hooks/footer/useFooterNavigation.ts
  lib/hooks/header/useHeaderScroll.ts
  lib/hooks/index.ts
  lib/hooks/onboarding/useOnboardingAuth.ts
  lib/hooks/onboarding/useOnboardingData.ts
  lib/hooks/useAuth.ts
  lib/hooks/useAuthRedirect.ts
  lib/hooks/useNavigation.ts
  lib/hooks/useProfileImage.ts
  package-lock.json
  package.json
  public/images/onboarding/onboarding_1.png
  public/images/onboarding/onboarding_2.png
  public/images/onboarding/onboarding_3.png
  public/images/onboarding/onboarding_4.png
Labels: 🎨 Publish, 🖥️ Frontend

#157 [Feat] 헬프 생성 오류 수정, 카테고리 및 채팅 기능 개선, 헬프 지원, 수락 기능 구현
  app/(pola)/chats/[roomId]/ChatRoom.module.css
  app/(pola)/chats/[roomId]/ChatRoom.tsx
  app/(pola)/chats/[roomId]/page.tsx
  app/(pola)/chats/list/ChatList.module.css
  app/(pola)/chats/list/_components/ChatListItems.module.css
  app/(pola)/chats/list/_components/ChatListItems.tsx
  app/(pola)/chats/list/_components/ChatListSearch.module.css
  app/(pola)/chats/list/_components/ChatListSearch.tsx
  app/(pola)/chats/list/_components/ChatListTopBar.module.css
  app/(pola)/chats/list/_components/ChatListTopBar.tsx
  app/(pola)/chats/list/page.tsx
  app/(pola)/helps/[helpId]/_components/action-buttons/ActionButtons.module.css
  app/(pola)/helps/[helpId]/_components/action-buttons/ActionButtons.tsx
  app/(pola)/helps/[helpId]/_components/help-content/HelpContent.tsx
  app/(pola)/helps/[helpId]/applicants/ApplicantsList.module.css
  app/(pola)/helps/[helpId]/applicants/page.tsx
  app/(pola)/helps/[helpId]/page.tsx
  app/(pola)/helps/create/components/Step1HelpType.module.css
  app/(pola)/helps/create/components/Step1HelpType.tsx
  app/(pola)/helps/create/components/Step2TimeSelection.tsx
  app/(pola)/helps/create/createHelp.module.css
  app/(pola)/helps/create/page.tsx
  app/_components/Header.tsx
  app/_components/LayoutWrapper.tsx
  app/_components/layout/AuthWrapper.tsx
  app/api/helps/[helpId]/applicants/[juniorNickname]/accept/route.ts
  app/api/helps/[helpId]/applicants/route.ts
  app/api/helps/[helpId]/application-status/route.ts
  app/api/helps/[helpId]/apply/route.ts
  app/api/seniors/help/route.ts
  app/api/users/route.ts
  app/layout.tsx
  app/page.tsx
  backend/chats/messages/infrastructures/repositories/SbContactMessageRepository.ts
  backend/helps/applications/dtos/HelpApplicantDto.ts
  backend/helps/applications/dtos/HelpApplicationDto.ts
  backend/helps/applications/usecases/GetHelpApplicantsUseCase.ts
  backend/helps/applications/usecases/HelpApplicationUseCases.ts
  backend/helps/domains/entities/HelpApplicant.ts
  backend/helps/domains/repositories/IHelpApplicantRepository.ts
  backend/helps/infrastructures/SbHelpApplicantRepository.ts
  backend/seniors/helps/applications/usecases/SeniorHelpUseCases.ts
  lib/api_front/help.api.ts
  lib/constants/api.ts
  lib/hooks/help/index.ts
  lib/hooks/help/useAcceptHelpApplicant.ts
  lib/hooks/help/useApplyHelp.ts
  lib/hooks/help/useHelpApplicants.ts
  lib/hooks/help/useHelpApplicationStatus.ts
  lib/jwt.ts
  lib/utils/categoryUtils.ts
Labels: ⚙ Settings, 🧪 Test, 🔩 Feature, 🎨 Publish, 🔨 Fix, 📞 API, 🛠️ Refactor, 🖥️ Frontend, 🔙 Backend

#160 [Refactor] help 리스트 API 연결, score 로직 변경, help 생성 기능 추가
  app/(pola)/helps/create/components/Step2TimeSelection.module.css
  app/(pola)/helps/create/components/Step3HelpDetails.module.css
  app/(pola)/helps/create/components/Step3HelpDetails.tsx
  app/(pola)/main/_components/junior/JuniorMain.tsx
  app/(pola)/main/_components/junior/sections/content/Calendar.module.css
  app/(pola)/main/_components/junior/sections/content/Calendar.tsx
  app/(pola)/main/_components/junior/sections/content/SwiperSection.tsx
  app/(pola)/main/_components/junior/sections/list/HelpListSection.tsx
  app/_components/BigCategoryGrid.tsx
  app/_components/CategoryGrid.module.css
  app/_components/CategoryGrid.tsx
  app/_components/category-badge/CategoryBadge.module.css
  app/_components/category-badge/CategoryBadge.tsx
  app/_components/commons/list-card/help-list-card/HelpListCard.module.css
  app/_components/commons/list-card/help-list-card/HelpListCard.tsx
  app/_components/commons/ui/Calendar.tsx
  app/api/helps/route.ts
  app/api/setup/contact-rooms-trigger/route.ts
  app/layout.tsx
  backend/helps/applications/dtos/HelpDTO.ts
  backend/juniors/scores/ScoreModel.ts
  backend/juniors/scores/applications/dtos/ScoreRankingDto.ts
  backend/juniors/scores/domains/entities/Score.ts
  backend/juniors/scores/infrastructures/mappers/ScoreMapper.ts
  backend/juniors/scores/infrastructures/repositories/ScoreRepository.ts
  backend/reviews/infrastructures/repositories/SbReviewRepository.ts
  lib/api_front/help.api.ts
  lib/api_front/score.api.ts
  lib/constants/categories.ts
  lib/constants/categoryTemplates.ts
  lib/hooks/help/useHelpList.ts
  lib/hooks/useScores.ts
  lib/models/createHelpDto.ts
  lib/utils/categoryUtils.ts
Labels: 🔩 Feature, 🔨 Fix, 🛠️ Refactor, 🖥️ Frontend, 🔙 Backend

#181 [Feat] 자잘한 내용 수정
  app/(pola)/chats/[roomId]/_components/HelpInfo.module.css
  app/(pola)/chats/[roomId]/_components/HelpInfo.tsx
  app/(pola)/chats/[roomId]/history/page.tsx
  app/(pola)/chats/list/_components/ChatListItems.module.css
  app/(pola)/chats/list/_components/ChatListItems.tsx
  app/(pola)/main/_components/senior/SeniorMain.tsx
  app/(pola)/user/profile/[nickname]/_components/user-helps/junior/UserHelpsSection.tsx
  app/(pola)/user/profile/[nickname]/page.tsx
  app/_components/commons/list-card/help-list-card/HelpListCard.module.css
  app/_components/commons/list-card/help-list-card/HelpListCard.tsx
  app/api/juniors/helps/accepted/route.ts
  app/api/reviews/user-stats/route.ts
  backend/juniors/helps/applications/usecases/JuniorAcceptedHelpsUseCase.ts
  backend/juniors/helps/domains/repositories/IJuniorHelpStatusRepository.ts
  backend/juniors/helps/infrastructures/repositories/JuniorHelpStatusInfrastructure.ts
  lib/api_front/junior-help.api.ts
  lib/constants/api.ts
  lib/hooks/index.ts
  lib/hooks/junior/useJuniorAcceptedHelps.ts
Labels: 🔩 Feature, 📞 API, 🛠️ Refactor, 🖥️ Frontend, 🔙 Backend

#187 [Feat] 사용자 섹션에 별점 API 연결
  app/_components/commons/common-sections/user-info/UserInfoSection.tsx
Labels: 🔩 Feature, 🖥️ Frontend
